body {
  background-color: #362424;
}

#header {
  text-align: center;
  color: white;
}

#convert-to-roman {
  display: flex;
  justify-content: center;
  height: 200px;
  margin-top: 5%;
}

#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #eeeeee;
  border-radius: 20px;
}

#input {
  margin-top: 15%;
  width: 80%;
}


#arabic-numeral {
  width: 70%;
  height: 30px;
}

#submit-arabic {
  width: 25%;
  height: 36px;
  border: none;
  border-radius: 5px;
  background-color: #111111;
  color: #eeeeee;
}

#submit-arabic:hover {
  background-color: #362424;
  cursor: pointer;
}

#results {
  margin-top: 5%;
  font-size: 22px;
  text-align: center;
}